{{#with background}}
.nenhd_bg {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    margin: 0;
    {{#if width}}
        width:{{width}}px;
    {{/if}}
    {{#if height}}
        height:{{height}}px;
    {{/if}}
    {{#if top}}
        top:{{top}}px;
    {{/if}}
    {{#if left}}
        left:{{left}}px;
    {{/if}}
    
    {{#if opacity}}
        opacity:{{opacity}};
    {{else}}
        opacity:0.2;
    {{/if}}    
    {{#if file}}
        background: inline('{{file}}');
    {{/if}}
}
{{/with}}