<!-- split {{comCode}}.xml -->
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type='text/xsl' href='{{comCode}}.xslt' ?>

<Invoice> 
<CNCom>{{comName}}</CNCom>
<Content Id="SigningData">
	{{#if debug}}
	<ArisingDate/>
	<InvoicePattern>{{#if comPattern}}{{comPattern}}{{else}}01GTKT0/001{{/if}}</InvoicePattern>
	<SerialNo>{{comSerial}}/20E</SerialNo>
	<InvoiceNo>0000000</InvoiceNo>
	<Kind_of_Payment>TM</Kind_of_Payment>
	<ComName>{{comName}}</ComName>
	<ComTaxCode>{{comTaxCode}}</ComTaxCode>
	<ComAddress>{{comAddress}}</ComAddress>
	<ComPhone/>
	<ComFax/>
	<ComBankNo/>	
	<CusCode/>
	<CusName>Công ty TNHH Steinsvik</CusName>
	<CusPhone></CusPhone>
	<DanToc/>
	<GioiTinh/>
	<Buyer></Buyer>
	<CusTaxCode>4201504438</CusTaxCode>
	<CusAddress>Lô E7-E8, KCN Suối Dầu, xã Suối Tân, huyện Cam Lâm, tĩnh Khánh Hòa, VN</CusAddress>
	<Total>38000000</Total>
	<VAT_Rate>10</VAT_Rate>
	<VAT_Amount>3800000</VAT_Amount>
	<Amount>41800000.955</Amount>
	<AmountInWords></AmountInWords>
	<Amount_words>Bốn mươi mốt triệu, tám trăm nghìn đồng</Amount_words>
	<KindOfService/>
	<Extra/>
	<Discount_Rate/>
	<Discount_Amount/>
	<CurrencyUnit>USD</CurrencyUnit>
	<ExchangeRate>23150</ExchangeRate>
	<ConvertedAmount>1211339</ConvertedAmount>
	{{#each xml}}
	<{{this}}/>
	{{/each}}
	<Products>
		<Product>
			<Code/>
			<ProdName>Dịch vụ thuê vận chuyển Container 40ft </ProdName>
			<ProdUnit>Cái</ProdUnit>
			<ProdQuantity>3</ProdQuantity>	
			<ProdPrice>38000000</ProdPrice>
			<Discount/>
			<DiscountAmount/>
			<VATRate/>
			<VATAmount/>
			<Amount>38000000</Amount>
		</Product>
	</Products>
	<Extra/>
	<SignDate/>	
	{{else}}
	<ArisingDate/>
	<InvoicePattern>{{#if comPattern}}{{comPattern}}{{else}}01GTKT0/001{{/if}}</InvoicePattern>
	<SerialNo>{{comSerial}}/20E</SerialNo>
	<InvoiceNo>0000000</InvoiceNo>
	<Kind_of_Payment></Kind_of_Payment>
	<ComName>{{comName}}</ComName>
	<ComTaxCode>{{comTaxCode}}</ComTaxCode>
	<ComAddress>{{comAddress}}</ComAddress>
	<ComPhone/>
	<ComFax/>
	<ComBankNo/>
	<CusCode/>
	<CusName/>
	<CusPhone/>
	<DanToc/>
	<GioiTinh/>
	<Buyer></Buyer>
	<CusTaxCode/>
	<CusAddress/>
	<Total/>
	<VAT_Rate/>
	<VAT_Amount/>
	<Amount/>
	<AmountInWords/>
	<KindOfService/>
	<Extra/>
	<Discount_Rate/>
	<Discount_Amount/>
	<CurrencyUnit>USD</CurrencyUnit>
	<ExchangeRate/>
	<ConvertedAmount/>
	{{#each xml}}
	<{{this}}/>
	{{/each}}
	<Products> 		
		<Product>
			<Code/>
			<ProdName/>
			<ProdUnit/>
			<ProdQuantity/>
			<ProdPrice/>
			<Discount/>
			<DiscountAmount/>
			<VATRate/>
			<VATAmount/>
			<Amount/>
		</Product>
	</Products>
	<Extra/>
	<SignDate/>
	{{/if}}
</Content>
	<imageClient></imageClient>
	<image>Signature Valid</image>
	<convert>{{convert}}</convert>
	<Fkey></Fkey>
</Invoice>