<!-- split index.html -->
<html>
<head>
<script>
function loadXMLDoc(dname)
{
if (window.XMLHttpRequest)
  {
  xhttp=new XMLHttpRequest();
  }
else
  {
  xhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xhttp.open("GET",dname,false);
xhttp.send("");
return xhttp.responseXML;
}
$(document).ready(function() {
  var xsldoc = $.xsl.load("{{comCode}}.xml");
  var xmldoc = $.xsl.load("{{comCode}}.xslt");
  // with an xpath
  $('#example').getTransform(
      xsldoc,
      xmldoc
  );
})
function displayResult()
{
    xml=loadXMLDoc("{{comCode}}.xml");    
    xsl=loadXMLDoc("{{comCode}}.xslt");
// code for IE
if (window.ActiveXObject)
  {
  ex=xml.transformNode(xsl);
  document.getElementById("example").innerHTML=ex;
  }
// code for Mozilla, Firefox, Opera, etc.
else if (document.implementation && document.implementation.createDocument)
  {
  xsltProcessor=new XSLTProcessor();
  xsltProcessor.importStylesheet(xsl);
  resultDocument = xsltProcessor.transformToFragment(xml,document);
  
  document.getElementById("example").appendChild(resultDocument);

  }
}

function copyToClipboard() {
  var string = `{{>mail}}`;
  let textarea;
  let result;

  try {
    textarea = document.createElement('textarea');
    textarea.setAttribute('readonly', true);
    textarea.setAttribute('contenteditable', true);
    textarea.style.position = 'fixed'; // prevent scroll from jumping to the bottom when focus is set.
    textarea.value = string;

    document.body.appendChild(textarea);

    textarea.focus();
    textarea.select();

    const range = document.createRange();
    range.selectNodeContents(textarea);

    const sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);

    textarea.setSelectionRange(0, textarea.value.length);
    result = document.execCommand('copy');
  } catch (err) {
    console.error(err);
    result = null;
  } finally {
    document.body.removeChild(textarea);
  }

  // manual copy fallback using prompt
  if (!result) {
    const isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;
    const copyHotkey = isMac ? '⌘C' : 'CTRL+C';
    result = prompt(`Press ${copyHotkey}`, string); // eslint-disable-line no-alert
    if (!result) {
      return false;
    }
  }
  return true;
}
</script>
<style>
br + br { display: none; }
</style>
</head>
<body onload=displayResult()>
  <div style="padding: 3px 0; background: #333; text-align: center">
    <button style="width:100px; height: 32px; cursor: pointer;" onclick='copyToClipboard()'>Copy Mail</button>
  </div>
  <div id="example" />
</body>
</html>