<!-- split mail.html -->
<div>
  <p>khanhmaivt@gmail.com, linhpn.vt@gmail.com, ngavtt.vtu79@gmail.com, nvdung08121977@gmail.com, hotrohddtvtu@gmail.com</p>
  <p>ACC TEST HDDT - {{comName}}</p>
  <p>
    Gửi a.c,
    <br />
    Em gửi hệ thống demo + mẫu hóa đơn.
    <br />
    A.c gửi yêu cầu qua jira để kích hoạt hệ thống thật cho khách sử dụng
  </p>
  <p>
    ===Hệ thống demo HDDT
    <br />
    {{comName}}
    <br />
    MST: {{comTaxCode}}
  </p>
  {{#if isHSM}}
  <p>
    *Cadmin: https://{{comCode}}admindemo.vnpt-invoice.com.vn
    <br />
    Tài khoản admin: {{comCode}}admin / Einv@oi@vn#pt20
  </p>
  <p>*Portal tra cứu: https://{{comCode}}.vnpt-invoice.com.vn</p>
  {{else}}
  <p>
    *Cadmin: https://{{comTaxCode}}-democadmin.vnpt-invoice.com.vn
    <br />
    Tài khoản admin: {{comTaxCode}}_admin_demo / Einv@oi@vn#pt20
  </p>
  <p>*Portal tra cứu: https://{{comTaxCode}}demo.vnpt-invoice.com.vn</p>
  {{/if}}
</div>
<!-- split index.html -->
<html>
<head>
<script>
function loadXMLDoc(dname)
{
if (window.XMLHttpRequest)
  {
  xhttp=new XMLHttpRequest();
  }
else
  {
  xhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xhttp.open("GET",dname,false);
xhttp.send("");
return xhttp.responseXML;
}
$(document).ready(function() {
  var xsldoc = $.xsl.load("{{comCode}}.xml");
  var xmldoc = $.xsl.load("{{comCode}}.xslt");
  // with an xpath
  $('#example').getTransform(
      xsldoc,
      xmldoc
  );
})
function displayResult()
{
    xml=loadXMLDoc("{{comCode}}.xml");    
    xsl=loadXMLDoc("{{comCode}}.xslt");
// code for IE
if (window.ActiveXObject)
  {
  ex=xml.transformNode(xsl);
  document.getElementById("example").innerHTML=ex;
  }
// code for Mozilla, Firefox, Opera, etc.
else if (document.implementation && document.implementation.createDocument)
  {
  xsltProcessor=new XSLTProcessor();
  xsltProcessor.importStylesheet(xsl);
  resultDocument = xsltProcessor.transformToFragment(xml,document);
  
  document.getElementById("example").appendChild(resultDocument);

  }
}
</script>
<style>
br + br { display: none; }
</style>
</head>
<body onload=displayResult()>
<div id="example" />
</body>
</html>