#main
{
margin: 0 auto;
}
.VTU-VATTEMP
{
background-color: white;
font-family: {{cssFontFamily}}, Times, serif;
font-size: 14px;
}
.VTU-VATTEMP span,.VTU-VATTEMP p, .VTU-VATTEMP i, .VTU-VATTEMP b, .VTU-VATTEMP label,  .VTU-VATTEMP div{
color: {{cssColor}};
font-family: {{cssFontFamily}};
}
.VTU-VATTEMP td span{
font-size: 16px;
}
.VTU-VATTEMP .header-main, .content
{
width: 790px;
}
.VTU-VATTEMP #logo
{
float: left;
width: 100px;
height: 100px;
background: url('') no-repeat;
margin: 0;
}
.VTU-VATTEMP .header
{
float: right;
width: 613px;
}
.VTU-VATTEMP .header-content
{
float: left;
text-align: center;
width: 400px;
}
.VTU-VATTEMP .header h2
{
font-size: 1em;
}
.VTU-VATTEMP .header h2, .header p
{
margin: 0;
}
.VTU-VATTEMP .header p.name-upcase
{
font-size: 13px;
text-transform: uppercase;
}
.VTU-VATTEMP .header-note
{
float: right;
font-size: 100%;
width: 175px;
margin-top: 0;
}
.VTU-VATTEMP .header .number
{
font-family: 'Arial', Times, serif;
font-size: 100%;
}
.clearfix:after
{
clear: both;
content: ".";
display: block;
height: 1px;
overflow: hidden;
visibility: hidden;
}
.clearfix
{
clear: both;
}
.VTU-VATTEMP .input-code
{
border: 1px solid {{cssColor}};
float: left;
text-align: center;
width: 18px;
height: 14px;
}
.VTU-VATTEMP div label.fl-l, div label
{
margin-right: 0;
}
.VTU-VATTEMP .input-name, .input-date
{
border: 0;
border-bottom: 1px dotted {{cssColor}};
}
.VTU-VATTEMP .statistics
{
clear: both;
margin-right: 0;
}
.nenhd
{
position: relative;
}
.VTU-VATTEMP .statistics table
{
background-position: bottom;
border: 0 none;
font-size: 100%;
margin: 0;
position: relative;
z-index: 2;
}
table
{
border-collapse: collapse;
}
.VTU-VATTEMP .statistics table th
{
font-size: 100%;
border-bottom: 1px solid {{cssColor}};
border-top: 1px solid {{cssColor}};
text-align:center;
padding:2px 5px;
}
.VTU-VATTEMP .statistics table th.h2
{
font-size: 100%;
text-transform: none;
border-bottom: 1px solid {{cssColor}} !important;
border-top: 1px solid {{cssColor}} !important;
color:  {{cssColor}};
}
.VTU-VATTEMP .statistics table td.stt
{
text-align: center;
padding-left: 0;
}
.VTU-VATTEMP .statistics table td.stt2
{
text-align: center;
color: {{cssColor}};
}
.VTU-VATTEMP .statistics table .back td
{
color: {{cssColor}};
font-family: 'Arial', Times, serif;
font-size: 100%;
}
.VTU-VATTEMP .statistics table td
{
padding-top: 2px;
padding-bottom: 2px;
padding-right: 2px;
padding-left: 5px;
}
.VTU-VATTEMP .statistics tr td.back-bold
{
font-size: 100%;
border-bottom: 1px dotted {{cssColor}};
}
.VTU-VATTEMP .statistics table .back-bold
{
padding: 0 5px;
padding-right: 5px;
text-align: right;
    min-height: 26px;

}
.VTU-VATTEMP .statistics tr td.back-bold2
{
padding: 0 5px;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
border-bottom: 1px dotted {{cssColor}};
min-height: 26px;
}
.VTU-VATTEMP .statistics tr td.back-bold3
{
font-size: 100%;
border-bottom: none!important;
}
.VTU-VATTEMP .statistics table .back-bold2
{
padding-left: 5px;
text-align: left;
}
.VTU-VATTEMP .statistics tr.bg-pink td
{
font-size: 100%;
text-align: right;
background: none repeat scroll 0 0 #fedccc;
}
.VTU-VATTEMP .payment, .date
{
margin: 20px 0;
text-align: center;
width: 35%;
}
.VTU-VATTEMP .payment
{
float: left;
}
.VTU-VATTEMP .payment p, .date p
{
margin: 0;
}
.VTU-VATTEMP .date
{
float: right;
height: 120px;
}
.VTU-VATTEMP .input-date
{
width: 40px;
}
.VTU-VATTEMP .input-name, .back-bold, .input-date
{
font-family: 'Arial', Times, serif;
}
.fl-l2
{
float: left;
color: {{cssColor}};
}
.fl-l
{
float: left;
min-height: 16px;
}
.bgimg
{
border: 1px solid {{cssColor}};
cursor: pointer;
}

.bgimg p
{
color: {{cssColor}};
padding-left: 13px;
text-align: left;
}
p
{
font-size: 13px;
}
.item
{
color: {{cssColor}};
}
/* ================ */
/* Company Info*/
.comInfo label{

}
.comInfo td{
    padding-left:10px;
}
.comInfo .vt-row{
    margin-bottom:0;
}
.comInfo .title{
}
/* ================ */
/* Customer Info*/

.customerInfo{
  margin-top: 5px;  	
}
.customerInfo td{
  padding-left: 10px;
}
.InvInfoLeft{
text-align:center;
}
.InvInfoRight{
text-align:left;
padding-bottom:10px;
}
.InvInfoRight span{
font-size: 14px;
}
.vat-product th, td{
border-right:1px solid {{cssColor}};
}