
{{#if full}}
<div id="invFooter" style="font-size:12px; text-align: center; margin-top: {{#if footer.margin}}{{footer.margin}}{{else}}90{{/if}}px; line-height: 1;">
  <p style="line-height: 1.5; margin-bottom: 4px;"><i>(Cần kiểm tra, đối chiếu khi lập, giao nhận hóa đơn)</i></p>
  {{#if footer.top}}
    {{#each footer.top}}
      <p style="line-height: 1.5; margin: 0; font-size: 13px;"><span>{{this.value}}</span></p>
    {{/each}}
  {{else}}
    <p style="line-height: 1.5; margin: 0; font-size: 13px;"><span>Giải pháp Hóa đơn Điện tử được cung cấp bởi Trung Tâm Kinh Doanh VNPT Bà Rịa- Vũng Tàu - MST 0106869738-044 - ĐT 0254 800126</span></p>
  {{/if}}
{{/if}}
<xsl:variable name="comTaxCode" select="/Invoice/Content/ComTaxCode" />
{{#if isHSM}}
  <xsl:variable name="portalV5" select="concat('https://','{{#if comDomain}}{{comDomain}}{{else}}{{comCode}}{{/if}}','.vnpt-invoice.com.vn')" />
{{else}}          
  <xsl:variable name="portalV5" select="concat('https://',$comTaxCode,'.vnpt-invoice.com.vn')" />
{{/if}} 
<xsl:choose>
  <xsl:when test="/Invoice/Fkey !=''">
    <div style="font-size:13px; margin-top: 4px; {{#if center}}text-align: center;{{else}}text-align: left;{{/if}}">
      <p style="margin:0; margin-bottom: 3px;">
        <i>Mã tra cứu hóa đơn:
          <xsl:value-of select="/Invoice/Fkey" />
        </i>
      </p>
      <p style="margin:0; margin-bottom: 3px;">
        <i>
          Tra cứu hóa đơn điện tử tại website:
          <xsl:text disable-output-escaping="yes">&lt;a href="</xsl:text>
          <xsl:value-of select="$portalV5" />" style="color:#0066CC;" <xsl:text disable-output-escaping="yes">&gt;
          </xsl:text>
          <xsl:value-of select="$portalV5" />
          <xsl:text disable-output-escaping="yes">&lt;/a&gt;</xsl:text>
        </i>
      </p>
    </div>
  </xsl:when>
  <xsl:otherwise>
    <div style="font-size:13px; margin-top: 4px; {{#if center}}text-align: center;{{else}}text-align: left;{{/if}}">
      <p style="margin:0; margin-bottom: 3px;">
        <i>Mã tra cứu hóa đơn: </i>
      </p>
      <p style="margin:0; margin-bottom: 3px;">
        <i>Tra cứu hóa đơn điện tử tại website:
          <xsl:text disable-output-escaping="yes">&lt;a href="</xsl:text><xsl:value-of select="$portalV5"/>" style="color:#0066CC;" <xsl:text disable-output-escaping="yes">&gt;</xsl:text>
            <xsl:value-of select="$portalV5"/>
          <xsl:text disable-output-escaping="yes">&lt;/a&gt;</xsl:text>
        </i>
      </p>
    </div>
  </xsl:otherwise>
</xsl:choose>
{{#if full}}
</div>
{{/if}}