<div class="InvInfoRight" style="padding-left:25px; {{#if header.serial.style}}{{header.serial.style}}{{/if}}">
    <div class="clearfix" style="line-height:22px;padding-top:14px;">
        <span {{#if header.serial.labelStyle}}
                style="{{header.serial.labelStyle}}"
            {{/if}}>Mẫu số {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(Form)</i>{{/if}}: </span>
        <span
            {{#if header.serial.valueStyle}}
                style="{{header.serial.valueStyle}}"
            {{/if}}
        >
            <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoicePattern" /></span>
    </div>
    <div class="clearfix" style="line-height:22px">
        <span {{#if header.serial.labelStyle}}
                style="{{header.serial.labelStyle}}"
            {{/if}}>Ký hiệu {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(Serial)</i>{{/if}}: </span>
        <b {{#if header.serial.valueStyle}}
                style="{{header.serial.valueStyle}}"
            {{/if}}>
            <xsl:value-of select="{{#unless relative}}../../{{/unless}}SerialNo" />
        </b>
    </div>
    <div class="clearfix" style="line-height:22px">
        <span {{#if header.serial.labelStyle}}
                    style="{{header.serial.labelStyle}}"
            {{/if}}>Số {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(No.)</i>{{/if}}: </span>
        <b style="{{#if cssColorRed}}color:{{cssColorRed}}{{else}}color:red{{/if}};font-size:140%;
            {{#if header.serial.valueStyle}}
                {{header.serial.valueStyle}}
            {{/if}}
            ">
            <xsl:call-template name="addZero">
                <xsl:with-param name="count" select="7-string-length({{#unless relative}}../../{{/unless}}InvoiceNo)" />
            </xsl:call-template>
            <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoiceNo" />
        </b>
    </div>
</div>