{{#ifOr v1=header.logo.file v2=header.logo.width}}
<td style="border:none;vertical-align:top;">    
    {{>logo logo=header.logo}}    
</td>
{{/ifOr}}
<td style="vertical-align:top;border:none;">
    <div class="InvInfoLeft" style="">
        {{#each header.name}}
        <p style="margin:0 auto;">            
            <span style="font-weight: bold; font-size:24px;{{this.style}}">
                {{this.value}}
            </span>          
        </p>
        {{/each}}
        <p style="margin:10px auto;font-size:14px;">
            <xsl:choose>
                <xsl:when test="{{#unless relative}}../../{{/unless}}ArisingDate!= '' and substring({{#unless relative}}../../{{/unless}}ArisingDate,7,4) != '1957' ">
                    <span>Ngày {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,1,2)" />
                    <span> Tháng {{#if header.english}}<i style="font-size: 85%;">(month) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,4,2)" />
                    <span> Năm {{#if header.english}}<i style="font-size: 85%;">(year) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,7,4)" />
                </xsl:when>
                <xsl:otherwise>
                    <span>Ngày {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>&#8230;
                    <span> Tháng {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>&#8230;
                    <span> Năm {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>&#8230;
                </xsl:otherwise>
            </xsl:choose>
            <br />
        </p>
    </div>
</td>
<td style="vertical-align:top;border:none; {{#if english}}width:250px;{{else}}width:200px;{{/if}}">
    <div class="InvInfoRight" style="padding-left:25px; {{#if header.serial.style}}{{header.serial.style}}{{/if}}">
        <div class="clearfix" style="line-height:22px;padding-top:14px;">
            <span>Mẫu số {{#if english}}<i style="font-size: 85%;">(Form)</i>{{/if}}: </span>
            <span>
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoicePattern" /></span>
        </div>
        <div class="clearfix" style="line-height:22px">
            <span>Ký hiệu {{#if english}}<i style="font-size: 85%;">(Serial)</i>{{/if}}: </span>
            <b>
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}SerialNo" />
            </b>
        </div>
        <div class="clearfix" style="line-height:22px">
            <span>Số {{#if english}}<i style="font-size: 85%;">(Invoice No.)</i>{{/if}}: </span>
            <b style="{{#if cssColorRed}}color:{{cssColorRed}}{{else}}color:red{{/if}};font-size:140%;">
                <xsl:call-template name="addZero">
                    <xsl:with-param name="count" select="7-string-length({{#unless relative}}../../{{/unless}}InvoiceNo)" />
                </xsl:call-template>
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoiceNo" />
            </b>
        </div>
    </div>
</td>