{{#ifOr v1=header.logo.file v2=header.logo.width}}
<td style="border:none;vertical-align:top; width: {{header.logo.width}}px">    
    {{>logo logo=header.logo}}    
</td>
{{/ifOr}}
<td style="vertical-align:top;border:none;">
    <div class="InvInfoLeft" style="">
        {{#each header.name}}
        <p style="margin:0 auto;">            
            <span style="font-weight: bold; font-size:24px;{{this.style}}">
                {{this.value}}
            </span>
            {{#if this.sub}}
                <i style="font-size: 85%;
                    {{#if this.subStyle}}                
                        {{this.subStyle}};
                    {{/if}}
                "> ({{this.sub}})</i>
            {{/if}} 
        </p>
        {{/each}}
        <p style="margin:10px auto;font-size:14px;">
            <xsl:choose>
                <xsl:when test="{{#unless relative}}../../{{/unless}}ArisingDate!= '' and substring({{#unless relative}}../../{{/unless}}ArisingDate,7,4) != '1957' ">
                    <span>Ngày {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,1,2)" />
                    <span> tháng {{#if english}}<i style="font-size: 85%;">(month) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,4,2)" />
                    <span> năm {{#if english}}<i style="font-size: 85%;">(year) </i>{{/if}}</span>
                    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ArisingDate,7,4)" />
                </xsl:when>
                <xsl:otherwise>
                    <span>Ngày {{#if english}}<i style="font-size: 85%;">(Date) </i>{{/if}}</span>&#8230;
                    <span> tháng {{#if english}}<i style="font-size: 85%;">(month) </i>{{/if}}</span>&#8230;
                    <span> năm {{#if english}}<i style="font-size: 85%;">(year) </i>{{/if}}</span>&#8230;
                </xsl:otherwise>
            </xsl:choose>
            <!-- <br />
            <xsl:if test="$itemCount&gt;10">
                <label style=" display: block; color:#000000">
                    <xsl:choose>
                        <xsl:when test="$pageC = 1">
                            Trang <xsl:value-of select="$pageC" />/<xsl:value-of select="ceiling($itemCount div 10)" />
                        </xsl:when>
                        <xsl:when test="$pageC &gt; 1">
                            Tiếp theo trang trước - Trang <xsl:value-of select="$pageC" />/<xsl:value-of select="ceiling($itemCount div 10)" />
                        </xsl:when>
                    </xsl:choose>
                </label>
            </xsl:if> -->
        </p>
    </div>
</td>

<td style="vertical-align:top;border:none; {{#if header.serial.width}}width:{{header.serial.width}}px;{{else}}{{#if english}}width:250px;{{else}}width:200px;{{/if}}{{/if}}">
    <div class="InvInfoRight" style="padding-left:25px; {{#if header.serial.style}}{{header.serial.style}}{{/if}}">
        <div class="clearfix" style="line-height:22px;padding-top:14px;">
            <span {{#if header.serial.labelStyle}}
                    style="{{header.serial.labelStyle}}"
                {{/if}}>Mẫu số {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(Form)</i>{{/if}}: </span>
            <span
                {{#if header.serial.valueStyle}}
                    style="{{header.serial.valueStyle}}"
                {{/if}}
            >
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoicePattern" /></span>
        </div>
        <div class="clearfix" style="line-height:22px">
            <span {{#if header.serial.labelStyle}}
                    style="{{header.serial.labelStyle}}"
                {{/if}}>Ký hiệu {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(Serial)</i>{{/if}}: </span>
            <b {{#if header.serial.valueStyle}}
                    style="{{header.serial.valueStyle}}"
                {{/if}}>
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}SerialNo" />
            </b>
        </div>
        <div class="clearfix" style="line-height:22px">
            <span {{#if header.serial.labelStyle}}
                     style="{{header.serial.labelStyle}}"
                {{/if}}>Số {{#if english}}<i style="font-size: 85%;{{#if header.serial.subStyle}}{{header.serial.subStyle}}{{/if}}">(No.)</i>{{/if}}: </span>
            <b style="{{#if cssColorRed}}color:{{cssColorRed}}{{else}}color:red{{/if}};font-size:140%;
                {{#if header.serial.valueStyle}}
                    {{header.serial.valueStyle}}
                {{/if}}
                ">
                <xsl:call-template name="addZero">
                    <xsl:with-param name="count" select="7-string-length({{#unless relative}}../../{{/unless}}InvoiceNo)" />
                </xsl:call-template>
                <xsl:value-of select="{{#unless relative}}../../{{/unless}}InvoiceNo" />
            </b>
        </div>
    </div>
</td>