<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,1,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,2,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,3,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,4,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,5,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,6,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,7,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,8,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,9,1)"/>
</label>
<label class="input-code">
    <xsl:value-of select="substring({{#unless relative}}../../{{/unless}}ComTaxCode,10,1)"/>
</label>