<xsl:variable name="itemsPerPage">
    <xsl:value-of select="10"/>
</xsl:variable>
<xsl:variable name="itemCount">
    <xsl:value-of select="count(Invoice//Content//Products//Product)" />
</xsl:variable>
<xsl:variable name="pagesNeeded">
    <xsl:choose>
        <xsl:when test="$itemCount &lt;= $itemsPerPage">
            <xsl:value-of select="1" />
        </xsl:when>
        <xsl:otherwise>
            <xsl:choose>
                <xsl:when test="$itemCount mod $itemsPerPage = 0">
                    <xsl:value-of select="$itemCount div $itemsPerPage" />
                </xsl:when>
                <xsl:otherwise>
                    <xsl:value-of select="ceiling($itemCount div $itemsPerPage)" />
                </xsl:otherwise>
            </xsl:choose>
        </xsl:otherwise>
    </xsl:choose>
</xsl:variable>
<xsl:template name="addZero">
    <xsl:param name="count" />
    <xsl:if test="$count &gt; 0">
        <xsl:text>0</xsl:text>
        <xsl:call-template name="addZero">
            <xsl:with-param name="count" select="$count - 1" />
        </xsl:call-template>
    </xsl:if>
</xsl:template>
<xsl:template name="addDots">
    <xsl:param name="val" />
    <xsl:param name="val1" />
    <xsl:param name="val2" />
    <xsl:param name="i" select="1" />
    <xsl:if test="$val1&gt;0">
        <xsl:choose>
            <xsl:when test="$val2 !=0">
                <xsl:value-of select="substring($val,$i,$val2)" />
                <xsl:if test="substring($val,$i+$val2+1,1) !=''">
                    <xsl:text>.</xsl:text>
                </xsl:if>
                <xsl:call-template name="addDots">
                    <xsl:with-param name="val" select="$val" />
                    <xsl:with-param name="val1" select="$val1 - 1" />
                    <xsl:with-param name="i" select="$i + $val2" />
                    <xsl:with-param name="val2" select="3" />
                </xsl:call-template>
            </xsl:when>
            <xsl:otherwise>
                <!--<xsl:text>test</xsl:text>-->
                <xsl:value-of select="substring($val,$i,3)" />
                <xsl:if test="substring($val,$i+3,1) !=''">
                    <xsl:text>.</xsl:text>
                </xsl:if>
                <xsl:call-template name="addDots">
                    <xsl:with-param name="val" select="$val" />
                    <xsl:with-param name="val1" select="$val1 - 1" />
                    <xsl:with-param name="i" select="$i + 3" />
                    <xsl:with-param name="val2" select="3" />
                </xsl:call-template>
            </xsl:otherwise>
        </xsl:choose>
    </xsl:if>
</xsl:template>
<xsl:template name="addLine">
    <xsl:param name="count" />
    <xsl:if test="$count &gt; 0">
        <tr class="noline back">
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
            <td class="back-bold">
                <xsl:value-of select="''" />
            </td>
        </tr>
        <xsl:call-template name="addLine">
            <xsl:with-param name="count" select="$count - 1" />
        </xsl:call-template>
    </xsl:if>
</xsl:template>
<xsl:template name="findSpaceChar">
    <xsl:param name="str" />
    <xsl:variable name="strLength">
        <xsl:value-of select="string-length($str)" />
    </xsl:variable>
    <xsl:if test="$strLength &gt; 0">
        <xsl:choose>
            <xsl:when test="substring($str, $strLength) != ' '">
                <xsl:call-template name="findSpaceChar">
                    <xsl:with-param name="str" select="substring($str, 1, $strLength - 1)" />
                </xsl:call-template>
            </xsl:when>
            <xsl:otherwise>
                <xsl:value-of select="$strLength" />
            </xsl:otherwise>
        </xsl:choose>
    </xsl:if>
</xsl:template>